* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 0px 0px 3px red inset; */
}

body {
  background-color: rgb(230, 230, 230);
}

.principal {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 17vh;
}

.container {
  width: 450px;
  height: auto;
  background-color: rgb(254, 86, 1);
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.718);
  border: rgba(185, 237, 144, 1) 1px solid;
  /* display: flex;
          justify-content: center; */
}

.return {
  height: 30px;
  width: 60px;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.472);
  position: absolute;
  margin-top: 1.5%;
  margin-left: 2%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return img {
  height: 20px;
  width: 28px;
}

.return a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 3%; */
  width: 100%;
}

.bloc-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3%;
}

form {
  margin-top: 5%;
}

form p {
  text-align: center;
  padding-right: 10px;
  font-size: 32px;
  /* margin-top: %; */
  color: white;
}

.form-nom {
  margin: auto;
  margin-top: 1%;
}

.desc {
  font-weight: bold;
  font-size: 13px;
  color: white;
}

.desc-confir {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  color: white;
}

.form-password {
  margin: auto;
  margin-top: 1%;
}

.form-nom,
.form-password {
  width: 80%;
  /* margin-left: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#pseudo,
#password {
  width: 100%;
  height: 42px;
  border-radius: 9px;
  border: white solid 2px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.247);
  margin-top: 2%;
}

.conn {
  width: 163px;
  height: 46px;
  background-color: white;
  border-radius: 24px;
  border: 2px solid rgba(185, 237, 144, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 3%;
  color: rgba(81, 176, 7, 1);
  font-size: 16px;
}

.conn:hover {
  border: white 2px solid;
  color: black;
  font-weight: bold;
  border: white solid 2px;
}

.ins {
  font-size: 10px;
  margin-top: 3%;
  width: 80%;
  margin-left: 13%;
}

.ins a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(57, 57, 57, 1);
  font-size: 13px;
}

.ins a:hover {
  font-size: 14px;
}

/* Media query pour les écrans de petite taille (par exemple, mobile) */
@media only screen and (max-width: 768px) {
  .container {
    height: auto;
  }
}
